@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    max-width: 80% !important;
  }
}

@media screen and (max-width: 722px) and (min-width: 480px) {
  .container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 479px) {
  .main {
    width: 100vw;
    height: 100vh;
    .container {
      display: flex !important;
      flex-direction: column !important;
      max-width: 86.94%;
      overflow: hidden !important;

      .right_side {
        height: 199px;
        background-size: cover !important;
        border-radius: 10px 10px 0px 0px;
      }
      .left_side {
        padding: 1.4em 2.5em;
        .title {
          font-size: 1.6rem;
        }
      }
    }
  }
  .card_author {
    margin-bottom: -1em !important;
  }
  .iconn {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
  }
  .open-share-lg {
    background-color: $Heading-userName-SocialBg-BtnHover;
    display: flex;
    position: absolute;
    opacity: 100% !important;
    width: 325px !important;
    height: fit-content;
    left: 800% !important;
    bottom: -30% !important;
    border-radius: 0 0 0 0 !important;
    transition: 0.3s;
    .title_share {
      font-size: 1.3rem;
      color: $ParaGraph-Icon-ShareWord;
    }
  }
  .activeleft {
    left: -315% !important;
  }
  .open-share-lg::after {
    content: none !important;
  }
}
